html,
body, * {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}
.main-container{
  max-width: 1400px; 
  margin: auto;
  width: 100%;
}
.layout{
  padding: 10px;
}
.banner-container {
  padding: 60px;
  border-radius: 20px;
  background-color: #e2e1e1;
  position: relative;
  height: 280px;
  line-height: 0.5; 
  width: 100%;
}
.banner-product {
  font-size: 20px;
  top: 2%;
}
.banner-container button {
  border-radius: 15px;
  padding: 7px 10px;
  background-color: #324d67;
  color: white;
  border: none;
  margin-top: 38px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index:10000 !important;
}
.banner-container h1 {
  padding-top: 3%;
  padding-bottom: 1%;
  color: white;
  font-size: 10em;
  margin-left: -20px;
  text-transform: uppercase;
}
.banner-image {
  position: absolute;
  top: 5%;
  right:7%;
  width: 400px;
  height: 250px;
}
.description {
  position: absolute;
  right: 10%;
  bottom: 5%;
  width: 300px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  color: #324d67;
}
.description h5 {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  align-self: flex-end;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}
.products-heading {
  text-align: center;
  margin: 40px 0px;
  color: #0a6233;
}
.products-heading h2 {
  font-size: 40px;
  font-weight: 800;
}
.products-heading p {
  font-size: 16px;
  font-weight: 200;
}
.product-card{
  width: 150px;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: #324d67;
 }
 .product-card:hover{
   transform: scale(1.1,1.1)
 }
 .product-image{
  border-radius: 10px;
  background-color: #ebebeb;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
 }
 .product-title{
   font-weight: 500;
 }
 .product-price{
   font-weight: 800;
   margin-top: 6px;
   color: black;
 }
 .footer-container{
  padding: 25px 40px;
  background-color: #e2e1e1;
  position: relative;
  height: 250px;
  line-height: 1; 
  color: white;
  width: 100%;
  margin-top: 120px;
  border-radius: 20px;
}
.f-description{
  display: flex ;
  justify-content: space-between;
}
.f-description .left h3{
  font-weight: 900;
  font-size: 80px;
  margin-left: 25px;
}
.f-description .left p{
  margin:3px;
}
.footer-image{
  position: absolute;
  top: 5%;
  right:7%;
  width: 400px;
  height: 250px;
}
.banner-desc .right{
  line-height: 1.4;
}
.banner-desc .right h3{
  font-weight: 800;
  font-size: 60px;
}
.banner-desc .right p{
  font-size: 18px;
}
.banner-desc .right .company-desc{
  font-size: 14px;
  font-weight: 300;
}